
  p {
    color: rgb(255, 0, 242);
    width: 150px;
    border: 1px solid black;
  }
  html {
    font-size: 20px; /* px signifie 'pixels': la taille de base pour la police est désormais 10 pixels de haut  */
    font-family: 'Open Sans', sans-serif; /* cela devrait être le reste du résultat obtenu à partir de Google fonts */
    background-color: rgb(97, 149, 153);
    background-image: linear-gradient(to bottom, rgba(24, 12, 65, 0.5), rgba(136, 136, 172, 0.5)), url("https://i1.sndcdn.com/artworks-000197975154-ckttac-t500x500.jpg");
    
    background-size: cover
    
   
    
}
 
    
  
  h1 {
      color: lightblue;
      width: 500px;
      text-shadow: 3px 3px 1px black;
  }

 
  ul {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
 body {
    width: 1200px;
    padding: 0 20px 20px 20px;  
  }
  h2 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
  }


.logo-team {
  
  width: 1830px;
  
}


.redd {
  width: 250px;
}

/*body{
  background-image: linear-gradient(to bottom, rgba(255,128,255,0.5), rgba(0,0,128,0.5)), url("https://i.ibb.co/dkHwWBG/pexels-ihsan-aditya-1056251.jpg");
  background-size: cover;
  
}*/



div {
  color: rgb(0, 0, 0);
 
}
.TN-t{
  width: 500px;
}
